.navigation {
  display: flex;
}

.header {
  margin: 40px 24px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #ffffff;
}

.title_description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a9adbd;
}

.buttons {
  display: flex;
}
