.config_line {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #a9adbd;
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.search {
  margin-bottom: 24px;
}

.key {
}

.value {
  font-weight: 600;
  color: #ffffff;
}
