.wrapper {
}

.general_title {
  margin-bottom: 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.config_line {
  margin-bottom: 32px;
  display: flex;
}

.config_line_name {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.status_tag {
  width: 225px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333333;
  border-radius: 8px;
}
