@import '../../colors.scss';

.title {
  margin-bottom: 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: $dark_400;
  text-transform: capitalize;

  &::after {
    content: '';
    margin-left: 8px;
    width: 100%;
    border: 1px solid $dark_500;
  }
}

.category_container {
  margin-bottom: 21px;
}

.item_container {
  height: 32px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox_container {
  display: flex;
  align-items: center;
}

.name {
  display: inline-block;
  margin-left: 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $white;
}
