@import '../../colors.scss';

.wrapper {
}

.title {
  margin-bottom: 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: $white;
}

.chart {
  width: 100%;
  height: 345px;
  background-color: $dark_700;
  canvas {
    width: 100%;
    border-radius: 8px;
  }
}
