@import '../../colors.scss';

.button {
  padding: 12px 24px;
  width: fit-content;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue_500;
  border-radius: 32px;
  color: $white;
  cursor: pointer;
  border: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  img {
    margin-right: 8px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
      brightness(103%) contrast(1000%);
  }
}

.button_disabled {
  padding: 12px 24px;
  width: fit-content;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark_400;
  color: $dark_600;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  img {
    margin-right: 8px;
  }
}
