$main_color: #0e0e0e;

.wrapper {
  display: flex;
}

.navigation {
  width: 146px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #4e4e52;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: $main_color;
  a {
    &:active {
      color: gray;
    }
    color: gray;
    text-decoration: none;
  }
}

.logo {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.active {
  color: white !important;
}

.version {
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

.content {
  width: 100%;
  background-color: #1d1e23;
}

@media screen and (min-height: 940px) {
  .wrapper {
    height: 100%;
  }
  .version {
    position: absolute;
    bottom: 0;
  }
}
