$main_color: #0e0e0e;

.wrapper {
  display: flex;
}

.menu {
  padding: 24px 24px 0px;
  width: 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #4e4e52;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: $main_color;
}

.title_container {
  display: flex;
}

.title {
  width: 242px;
  margin-bottom: 24px;
}

.title_name {
  margin-bottom: 4px;
  height: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  color: #ffffff;
}

.title_date {
  height: 19px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  color: #6b6e7b;
}

.title_status {
  width: 48px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d5dec;
  border-radius: 3px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.search_container {
  margin-bottom: 24px;
  background: #1d1e23;
  border-radius: 32px;
}

.navigation {
  padding-bottom: 24px;
  height: 432px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #4e4e52;
  a {
    &:active {
      color: gray;
    }
    color: gray;
    text-decoration: none;
  }
}

.active {
  color: white !important;
}

.recently_title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #5b75a3;
}

.recently_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  background-color: #1d1e23;
}

@media screen and (min-height: 940px) {
  .wrapper {
    height: 100%;
  }
  .version {
    position: absolute;
    bottom: 0;
  }
}
