.wrrapper {
}

.config_line {
  margin-bottom: 32px;
}

.config_line_title {
  margin-bottom: 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.config_line_data {
  display: flex;
  justify-content: space-between;
}
