.wrapper {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  &:nth-last-child(1) {
    margin-bottom: 0 !important;
  }
}

.title {
  margin-right: 4px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #a9adbd;
  text-transform: capitalize;
}

.modal_call {
  cursor: pointer;
}
