@import '../../colors.scss';
@import '../../mixins.scss';

.wrapper {
  @include text(600, 14px);
}

.element {
  min-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.blur {
  color: transparent !important;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.backgroundBlur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
