@import '../../colors.scss';

.wrapper {
  margin-right: 10px;
  padding: 8px 16px;
  height: 68px;
  width: 100%;
  max-width: 287px;
  background: $dark_600;
  border-radius: 8px;
  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.content_bar {
  height: 100%;
  width: 4px;
  min-width: 4px;
  max-width: 4px;
  border-radius: 100px;
  background-color: $dark_400;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.text_container {
  margin-left: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.value {
  font-weight: 600;
  font-size: 22px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
