@import '../../colors.scss';

.wrapper {
  padding: 3px 6px;
  min-width: 48px;
  width: fit-content;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue_500;
  border-radius: 3px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  color: $white;
}
