.name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
}

.name_sm {
  font-size: 22px;
  line-height: 30px;
}

.name_lg {
  font-size: 42px;
  line-height: 57px;
}

.description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a9adbd;
}
