@import '../../colors.scss';

@mixin item {
  width: 294px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  box-sizing: border-box;
}

.item {
  @include item;
  color: $dark_400 !important;
}

.item_active {
  @include item;
  color: $white !important;
  background-color: $dark_500;
  img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
      brightness(103%) contrast(1000%);
  }
}

.navigate {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 12px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.count {
  margin-right: 8px;
  padding: 3px 6px;
  width: 19px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue_500;
  border-radius: 3px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
