@import '../../colors.scss';

@mixin item {
  margin-top: 24px;
  width: 114px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.item {
  @include item;
}

.item_active {
  @include item;
  border: 2px solid $blue_500;
  border-radius: 8px;
  background-color: $dark_600;
}

.text {
  margin-top: 10px;
}
