@import '../../../colors.scss';

@mixin text($weight, $size) {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
}

.wrapper {
}

.table_container {
  padding: 16px;
  border: 1px solid #6b6e7b;
  border-radius: 10px;
}

.title {
  margin-bottom: 8px;
  @include text(600, 18px);
  color: $white;
}

.table {
  width: 100%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: $white;
  border-collapse: collapse;
}

.tbody {
  tr {
    padding: 8px 0;
    border-bottom: 1px solid #6b6e7b;
    &:nth-last-child(1) {
      border: none;
      td {
        padding: 8px 0;
      }
      th {
        padding: 8px 0;
      }
    }
  }
  td {
    padding: 8px 0 12px;
  }
  th {
    padding: 8px 0 12px;
  }
}

.horizontal_head {
  padding-bottom: 11px;
  text-align: start;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #d9dce9;
}

.vertical_head {
  text-align: start;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #b7cfef;
}
