@import '../../../../colors.scss';

.wrapper {
  margin-right: 24px;
  width: 88px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark_600;
  border-radius: 8px;
  cursor: pointer;
}

.map {
  display: flex;
  margin-right: 11px;
}

.caret {
  display: flex;
}

.card_container {
  display: flex;
}
