@import '../../../../colors.scss';

.wrapper {
  margin-right: 24px;
  width: 88px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark_600;
  border-radius: 8px;
  cursor: pointer;
}

.map {
  display: flex;
  margin-right: 11px;
}

.caret {
  display: flex;
}

.graph_content {
  height: 290px;
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  border-top: 1px dashed #6b6e7b;
}

.card_wrapper {
  display: flex;
  align-items: center;
}

.card_container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $dark_500;
  backdrop-filter: blur(25px);
  border-radius: 8px;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.card_text {
  font-weight: 600;
  font-size: 16px;
}

.card_bottom_bar {
  margin-top: 8px;
  width: 80%;
  height: 4px;
  border-radius: 100px;
}

.cursor_pointer {
  cursor: pointer;
}

.status_tag_container {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  height: 35px;
  border: 1px solid $dark_400;
  border-radius: 0px 8px 8px 8px;
  box-sizing: border-box;
  text-transform: capitalize;
}
