@import '../../colors.scss';

.wrapper {
  margin-right: 24px;
  width: 88px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark_600;
  border-radius: 8px;
}

.map {
  display: flex;
  margin-right: 11px;
}

.caret {
  display: flex;
}
