@import '../../colors.scss';

.wrapper {
  display: flex;
  height: 19px;
}

.name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $dark_300;
  text-transform: capitalize;
  cursor: pointer;
}

.separator {
  color: $dark_300;
  margin-left: 22px;
  margin-right: 21px;
}

.active {
  color: $white;
}

.separator {
  display: flex;
  width: 16px;
  height: 16px;
}
