$dark_100: #ebedf4;
$dark_200: #d9dce9;
$dark_300: #a9adbd;
$dark_400: #6b6e7b;
$dark_500: #4e4e52;
$dark_600: #333333;
$dark_700: #1d1e23;
$dark_800: #151515;
$dark_900: #0e0e0e;
$dark_purple_100: #e7e7f7;
$dark_purple_200: #d0d0ef;
$dark_purple_300: #a7a7cf;
$dark_purple_400: #78789f;
$dark_purple_500: #414160;
$dark_purple_600: #2f2f52;
$dark_purple_700: #202045;
$dark_purple_800: #141437;
$dark_purple_900: #0c0c2e;
$dark_blue_100: #dae7f7;
$dark_blue_200: #b7cfef;
$dark_blue_300: #87a4d1;
$dark_blue_400: #5b75a3;
$dark_blue_500: #2a3e66;
$dark_blue_600: #1e2f57;
$dark_blue_700: #152349;
$dark_blue_800: #0d173b;
$dark_blue_900: #081030;
$purple_100: #ded7fe;
$purple_200: #bdaffe;
$purple_300: #9a86fd;
$purple_400: #7f68fc;
$purple_500: #5237fb;
$purple_600: #3d28d7;
$purple_700: #2c1bb4;
$purple_800: #1d1191;
$purple_900: #130a78;
$blue_100: #cee6fe;
$blue_200: #9dcafd;
$blue_300: #6ba9f9;
$blue_400: #468bf3;
$blue_500: #0d5dec;
$blue_600: #0947ca;
$blue_700: #0635a9;
$blue_800: #042588;
$blue_900: #021971;
$turquoise_100: #c7f8ef;
$turquoise_200: #91f2e9;
$turquoise_300: #57dad7;
$turquoise_400: #2dadb5;
$turquoise_500: #007284;
$turquoise_600: #005971;
$turquoise_700: #00435f;
$turquoise_800: #00304c;
$turquoise_900: #00223f;
$black: #000000;
$white: #ffffff;
$yellow: #ffd600;
$red: #f51d44;
$active_green: #1df580;
