@import 'colors';

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $dark_900;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $dark_500;
  }
}
