@import '../../../colors.scss';

@mixin text($weight, $size) {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
}

.config_line {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.config_line_name {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include text(400, 14px);
  color: $white;
}

.status_tag {
  margin-right: 24px;
  width: 225px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $dark_600;
  border-radius: 8px;
  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.tag_value {
  @include text(600, 22px);
  color: #ffffff;
}

.tag_name {
  margin-top: 4px;
  @include text(400, 16px);
  color: #ffffff;
}

.general_info {
  display: flex;
}
