@import '../../../colors.scss';

.wrapper {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: $dark_300;
  border-spacing: 0px 4px;
  div {
    height: 22px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  tr {
    vertical-align: baseline;
  }
}

.metric_title {
  padding: 0 !important;
  display: inline-block;
  margin-right: 8px;
}

.modal_call {
  cursor: pointer;
}

.not_available {
  padding: 0 !important;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
